#blasr command
blasrCmd=blasr -noRefineAlign -advanceHalf -noSplitSubreads -minMatch 10 -sdpTupleSize 7 -minPctIdentity 70 -bestn 50 -sam -clipping soft -header

#samtools path
samtoolsPath=/Users/cjg/Software/BUILD/bin/samtools

#directory with illumina files
IlluminaDir=/Users/cjg/Work/PacBio/metalrec/cpp/test_illuminadir

#directory with pacbio files
PacBioDir=/Users/cjg/Work/PacBio/metalrec/cpp/test_pacbiodir

#number of threads
Threads=16
