# output file name prefix
allFileName= metalrec

# input bam directory
bamDir=/Users/cjg/Work/PacBio/Results/Wetlands/01_Align

# input bam files
#bamfiles = /chongle/shared/work/pacbio_test/04_Biofuel/01_Align/all_unmerged/unmerge_biofuel1.bam /chongle/shared/work/pacbio_test/04_Biofuel/01_Align/all_unmerged/unmerge_biofuel2.bam
bamfiles = test.bam 
#2701_1.bam 2702_1.bam 2703_1.bam 2704_1.bam 2705_1.bam 2706_1.bam 2707_1.bam 2708_1.bam 2709_1.bam 27010_1.bam 27011_1.bam 27012_1.bam 27013_1.bam 27014_1.bam 27015_1.bam 27016_1.bam 27017_1.bam

# minimum overlap length for mini-assembly of Illumina reads
minimumOverlapLength = 40

# hash string length, need to be shorter than minimumOverlapLength
hashStringLength = 10

# maximum number of error allowd in the overlap, 0 means only perfect overlap is allowed
maxError=0

# maximum error rate in the overlap
maxErrorRate = 0.00

# rubber band length when considering overlap in combination with the mapping positions of SRs on LRs
rubberPos =10

# maximum indel error rate for the SRs to be used for error correction of an LR
indelRate = 0.25

# maximum substitution error rate for the SRs to be used for error correction of an LR
subRate = 0.05

# samtools path
samtools_path = /usr/local/bin/samtools
